<div data-role="page" id="demo-page">
  <div data-role="header" data-theme="a">
    <h1>Welcome</h1>
    <%= link_to "Logout", destroy_user_session_path, :method=>"delete", :"data-icon"=>"gear", :"class"=>"ui-btn-right"%>    
  </div>
  <div data-role="content" id="content">
    <table data-role="table" data-mode="Reflow" class="ui-body-d ui-shadow table-stripe ui-responsive tablesorter">
      <thead>
        <tr class="ui-bar-d">
          <th>Name</th>
  <!--         <th>Description</th>
          <th>Station url</th> -->
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    <tbody>
      <% @stations.each do |station| %>
        <tr>
          <td><%= station.name %></td>
  <!--         <td><%= station.description %></td>
          <td><%= station.station_url %></td> -->
          <td><%= link_to 'Show', station %></td>
          <td><%= link_to 'Edit', edit_station_path(station) %></td>
          <td><%= link_to 'Destroy', station, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
    </table>

    <br />
    <%= link_to 'New Station', new_station_path, :'data-role'=>'button' %>    
  </div>
  <div data-role="footer" data-position="fixed" data-theme="c">
    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
  </div>
</div>