<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul data-role="listview" data-inset="true">
  <li data-role="fieldcontain">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
  <li data-role="fieldcontain">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </li>
  <li class="ui-body ui-body-b">
    <fieldset class="ui-grid-a">
      <div class="ui-block-a">
        <%= f.submit %>
      </div>
    </fieldset>
  </li>  
</ul>  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
