<div data-role="page" id="demo-page">  
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @user.name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>

	<p>
		dropbox linking status <br/>
		<% if current_user.token == nil %>
			<%= link_to "Link with dropbox", dropbox_main_path %>
		<% else %>
			<p>You are currently linked with dropbox.</p>
		<% end %>

	</p>


	<%= link_to 'Edit', edit_user_registration_path %> |
	<%= link_to 'Back', root_path %>
<div>