<div data-role="page" id="demo-page">  
	<div data-role="header" data-theme="a">
	    <h1>Dropbox Testing Page</h1>
	    <%= link_to 'Back', root_path, :"data-icon"=>"home", :"data-iconpos"=>"notext", :"data-direction"=>"reverse"%>
	</div>
	<div data-role="content">
		<div class="content-primary">
			<p>This is the testing content<br/></p>
			<p><%=@root_metadata['contents']%><br/></p>
			<p><%=@delta%><br/></p>
			<p>Cursor from database is<%=@cursor%><br/></p>			
			<p><%@urls.each do |url|%>
				<%=link_to "podcast", url%><br/>
			<%end%>
			</p>			
		</div>
	</div>
</div>