<%= form_for([@show, @audiopost], :html => {:data => {:ajax => 'false'}}) do |f| %>
  <% if @audiopost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audiopost.errors.count, "error") %> prohibited this audiopost from being saved:</h2>

      <ul>
      <% @audiopost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul data-role="listview" data-inset="true">
  <li data-role="fieldcontain">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </li>
  <li data-role="fieldcontain" id="toolbar">
    <fieldset data-role="controlgroup" data-type="horizontal">
      <legend>Font styling:</legend>
      <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" />
      <label data-wysihtml5-command="bold" for="checkbox-1">b</label>      
      <input type="checkbox" name="checkbox-2" id="checkbox-2" class="custom" />
      <label data-wysihtml5-command="italic" for="checkbox-2"><em>i</em></label>
      <input type="checkbox" name="checkbox-3" id="checkbox-3" class="custom" />
      <label data-wysihtml5-command="underline" for="checkbox-3">u</label>
      <a href="" data-role="button" data-inline="true" data-wysihtml5-command="createLink">Hyperlink</a>
    </fieldset>
    <div data-role="fieldcontain" data-wysihtml5-dialog="createLink" style="display: none;">
      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Insert Link</legend>
        <input data-wysihtml5-dialog-field="href" value="http://">
      </fieldset>
      <br />
      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend></legend>
        <a data-wysihtml5-dialog-action="save" data-role="button" data-inline="true" data-theme="c">OK</a>
        <a data-wysihtml5-dialog-action="cancel" data-role="button" data-inline="true" data-theme="a">Cancel
        </a>
      </fieldset>
    </div> 
  </li>
  <li data-role="fieldcontain">
    <%= f.label :short_note %>
    <%= f.text_area :short_note%>
  </li>
  <li data-role="fieldcontain">
    <%= f.label :audio %>
    <%= f.text_field :audio %>
  </li>
  <li data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <legend>Audio Date</legend>
      <%= f.date_select :audio_date %>
    </fieldset>
  </li>
  <li class="ui-body ui-body-b">
    <fieldset class="ui-grid-a">
      <div class="ui-block-a">
        <%= f.submit %>
      </div>
    </fieldset>
  </li>
</ul>
<% end %>
<script>
  var editor = new wysihtml5.Editor("audiopost_short_note", {
    toolbar:        "toolbar",
    parserRules:    wysihtml5ParserRules,
    useLineBreaks:  false
  });  
</script>