<%= form_for([@show, @audiopost]) do |f| %>
  <% if @audiopost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audiopost.errors.count, "error") %> prohibited this audiopost from being saved:</h2>

      <ul>
      <% @audiopost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul data-role="listview" data-inset="true">
  <li data-role="fieldcontain">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </li>
  <li data-role="fieldcontain">
    <%= f.label :short_note %>
    <%= f.text_area :short_note %>
  </li>
  <li data-role="fieldcontain">
    <%= f.label :audio %>
    <%= f.text_field :audio %>
  </li>
  <li data-role="fieldcontain">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </li>
  <li data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <legend>Audio Date</legend>
      <%= f.date_select :audio_date %>
    </fieldset>
  </li>
  <li class="ui-body ui-body-b">
    <fieldset class="ui-grid-a">
      <div class="ui-block-a">
        <%= f.submit %>
      </div>
    </fieldset>
  </li>
</ul>
<% end %>
