<div data-role="header" data-theme="b">
    <h1>今日話題</h1>
    <%= link_to 'New Audio', new_audiopost_path,{"class"=>"ui-btn-right", "data-icon" => "plus"} %>
</div>
<div data-role="content">
    <div data-role="fieldcontain">
        <select name="select-choice-3" id="select-choice-3" data-native-menu="false">
            <option value="2012">2012</option>
            <option value="2012">2011</option>
            <option value="2012">2010</option>
        </select>
    </div>
    <div data-role="collapsible-set" data-theme="c" data-content-theme="c" id="audiolist">
      <div data-role="collapsible">
        <h2>Dec 2012</h2>
            <ul data-role="listview" data-theme="d" data-divider-theme="d">
                <% @audioposts.each do |audiopost| %>
                    <li data-role="list-divider">
                        <%= audiopost.audio_date.strftime("%A") %>
                        <%= audiopost.audio_date %>
                        <!--
                        <%= link_to 'Delete', audiopost, :confirm => 'Are you sure?', :method => :delete %>
                        -->
                    </li>
                    <li>
                        <%= link_to(audiopost, "data-transition"=>"slide") do %>
                            <h3><%= audiopost.title %></h3>                            
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>

<script>
var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];

//prepare the function we need
function sortDateArray(arrayName, type){
    var dummyArray = [];
    for(var i in arrayName){
        dummyArray.push(arrayName[i]);
    }
    if(type=="descending"){
        return dummyArray.sort(function(d1, d2){
            return d2-d1;
        });
    }
    else if(type=="ascending"){
        return dummyArray.sort(function(d1, d2){
            return d1-d2;
        });
    }
    else{
        return 0;
    }
}

function getArrayIndex(sortedArray, originalArray){
    var indexArray = [];
    for(var i in sortedArray){
        indexArray.push(originalArray.indexOf(sortedArray[i]));
    }
    return indexArray;
}

function putArrayCorresponding(indexArray, inputArray){
    var outputArray = [];
    var j;
    for(var i in indexArray){
        j = indexArray[i];
        outputArray.push(inputArray[j]);
    }
    return outputArray;
}

function getUniqueArray(inputArray){
    var dummy = inputArray.filter(function(item,i,inputArray){
        return i==inputArray.indexOf(item);
    });
    return sortDateArray(dummy, "descending");
}

function getArrayMonths(inputArray){
    var audioMonths=[];
    for(var i in inputArray){
        audioMonths.push(inputArray[i].getMonth());
    }
    return audioMonths;
}
//prepare the data we need
var audioDates = [];
var aduioLinks = [];
var aduioTitles = [];
var aduioNotes = [];

<% @audioposts.each do |audiopost| %>
    audioDates.push(new Date('<%= audiopost.audio_date.year%>', '<%= audiopost.audio_date.month-1%>', '<%= audiopost.audio_date.day%>'));
    aduioLinks.push('<%= audiopost_path(audiopost.id)%>');
    aduioTitles.push('<%= audiopost.title%>');
    aduioNotes.push('<%= audiopost.short_note%>');
<% end %>

var descendingDates = sortDateArray(audioDates,"descending");
var indexDateArray = getArrayIndex(descendingDates, audioDates);
var newAudioTitles = putArrayCorresponding(indexDateArray, aduioTitles);
var newAudioLinks = putArrayCorresponding(indexDateArray, aduioLinks);
var newAudioNotes = putArrayCorresponding(indexDateArray, aduioNotes);
var maxDate = descendingDates[0];
var minDate = descendingDates[descendingDates.length-1];
var maxYear = maxDate.getFullYear();
var minYear = minDate.getFullYear();

var audioMonths = getArrayMonths(audioDates);
var uniqueMonths = getUniqueArray(audioMonths);
//write html
var currentYear = '2012';
var collapsibleDiv='';
for(var i in uniqueMonths){
    var listViewDiv='';
    for(var j in descendingDates){
        if(descendingDates[j].getMonth()==uniqueMonths[i]){
            listViewDiv = listViewDiv 
            +'<li data-role="list-divider">'
                + (descendingDates[j].getMonth()+1)+ '/'+ descendingDates[j].getDate()+'/'+descendingDates[j].getFullYear()
            +'</li>'
            +'<li>'
                +'<a href="'+newAudioLinks[j]+'" data-transition="slide">'
                    +'<h3>'+newAudioTitles[j]+'</h3>'                    
                +'</a>'
            +'</li>'
        }
    }    
    collapsibleDiv = collapsibleDiv
        +'<div data-role="collapsible">'
            +'<h2>'+monthNames[uniqueMonths[i]]+' '+currentYear+'</h2>'
                +'<ul data-role="listview" data-theme="d" data-divider-theme="b">'
                    +listViewDiv
                +'</ul>'
        +'</div>'
}
console.log(collapsibleDiv);
$('#audiolist').html(collapsibleDiv);
</script>