<h1>Listing audioposts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Short note</th>
    <th>Audio</th>
    <th>Audio date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audioposts.each do |audiopost| %>
  <tr>
    <td><%= audiopost.user_id %></td>
    <td><%= audiopost.title %></td>
    <td><%= audiopost.short_note %></td>
    <td><%= audiopost.audio %></td>
    <td><%= audiopost.audio_date %></td>
    <td><%= link_to 'Show', audiopost %></td>
    <td><%= link_to 'Edit', edit_audiopost_path(audiopost) %></td>
    <td><%= link_to 'Destroy', audiopost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audiopost', new_audiopost_path %>
