<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<!---panel-->
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a">
        <!-- panel content goes here -->
        <h2>Jump to section</h2>
        <div data-role="content">
          <button class= 'audioChapter' data-theme="d" value='0' >
            城市破產
          </button>
          <button class='audioChapter' data-theme="d"  value='960' >
            奧運軍訓
          </button>
          <button href="#mypanel" data-theme="b" data-rel="close">
            Done
          </button>
        </div>
    </div><!-- /panel -->
<!---panel-->

<div data-role="header" data-theme="b">   
  <h1>
    <%= @audiopost.title %>
  </h1>
  <%= link_to 'Home', show_audioposts_path(@show), {"class"=>"ui-btn-left", "data-icon" => "home", "data-rel"=>"back"} %>
  
  <a href="#mypanel" class="ui-btn-right" data-position-to="window" data-icon="grid">All</a>
  <!--
  <%= link_to 'Edit', edit_show_audiopost_path(@show, @audiopost), {"class"=>"ui-btn-right", "data-icon" => "gear", :rel=>"external"} %>
  -->
</div>
<div data-role="content">
  <!--Audio Info-->  
  <% if @audiopost.short_note.nil? %>
    <div data-role="collapsible" data-theme="e" data-content-theme="c">
      <h3><%= @audiopost.title %></h3>
      <p><%= @audiopost.audio_date %></p>
      <p><%= @audiopost.short_note %></p>
    </div>
  <% else %>
    <div data-role="collapsible" data-collapsed="false" data-theme="e" data-content-theme="c">
      <h3><%= @audiopost.title %></h3>
      <p><%= @audiopost.audio_date %></p>
      <p><%= @audiopost.short_note %></p>
    </div> 
  <% end %>
  <!--end-->
  <!--Disqus-->
  <div data-role="collapsible" data-theme="e" data-content-theme="c">
    <h3>留言</h3>
     <!-- START: Livefyre Embed -->
      <div id="disqus_thread"></div>
      <!-- END: Livefyre Embed -->
  </div>
  <!--end-->
    <audio class="player">
      <source src=<%= @audiopost.audio %> type='audio/mpeg' id='todaynews'>       
    </audio>
    <!--
    <br />
    <div id="sliderVol" data-role="fieldcontain">
      <label for="slider-2">Volume</label>
      <input type="range" name="slider-fill" id="volControl" value="20" min="0" max="100" data-highlight="true" data-mini="true"/>
    </div>
    -->
</div>
<div>
  <div data-role='footer' data-position="fixed" data-theme="b">
    <table style="margin-left: 5px; margin-right: 5px;" id="sliderTime">
      <tr>
        <td><p id="startTimeDisplay"></p></td>
        <td width="100%" class="slider-shit">
          <input type="range" name="slider-fill" id="timeControl" value="0" min="0" max="1432" width="100%" data-highlight="true" data-mini="true"/>
        </td>
        <td><p id="currentTimeDisplay"></p></td>
      </tr>
    </table>
    <div data-role="footer" class="ui-bar" data-theme="b">
      <div data-role="navbar">
        <ul>
          <li>
            <button type="button" id = "progressControl" data-theme="b" onclick="progressControl();">Play</button>
          </li>
        </ul>
      </div>     
    </div>
  </div>
</div>
<!--Disqus-->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'am1300'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
<!--end-->

<script>
function setSliderValue(id, w, s){
    return $(id).attr(w, s);
}

function getSliderValue(id, w){
  return $(id).attr(w);
}

function progressControl(){
  if($('#progressControl').html() == "Play"){
    $('#progressControl').text('||').button('refresh');
    timeProgressUpdate(v,"timeupdate",audioPlayUpdateTime);  
    v.play();
  }
  else{
    $('#progressControl').text('Play').button('refresh');
    v.pause();
  }
}

function pauseControl(){
  v.pause();
  timeProgressStopUpdate(v,"timeupdate",audioPlayUpdateTime);
  v.play();
}

//fuction to calculate display hours
function displayTime(input_seconds){
  var h = Math.floor(input_seconds/3600);
  input_seconds = input_seconds % 3600;
  var min = Math.floor(input_seconds/60);
  input_seconds = Math.floor(input_seconds % 60);
  if (input_seconds.toString().length < 2) {input_seconds = "0" + input_seconds};
  if (min.toString().length < 2) {min = "0" + min};
  if(h>0){
    var currentPlayingTime = h + ":" + min + ":" + input_seconds;  
  }
  else{
    currentPlayingTime = min + ":" + input_seconds;
  }
  return currentPlayingTime;
}

var v = document.getElementsByTagName("audio")[0];

$(document).ready(function(){  
  $('.song-progress').html();
});

//progress controller
$("#sliderTime").on('slidestart', function() {
  if($('#progressControl').text()=="Play"){
    return 0;
  }
  else{
    v.pause();  
    timeProgressStopUpdate(v,"timeupdate",audioPlayUpdateTime);
    v.play();
    timeProgressUpdate(v,"timeupdate",audioPlayUpdateTimeDisplayOnly);  
  }
});

$("#sliderTime").on('change', function() {
  var audio_duration = v.duration;
  var slider_value = $("#timeControl").val();
  var remain_audio_time = "-"+displayTime(audio_duration - slider_value);

  //only update the starTimeDisplay
  $("#startTimeDisplay").html(displayTime(slider_value));
});


$("#sliderTime").on('slidestop', function() {
  if($('#progressControl').text()=="Play"){
    var slider_value = $("#timeControl").val();
    v.currentTime = slider_value;
  }
  else{
    v.pause();
    timeProgressStopUpdate(v,"timeupdate",audioPlayUpdateTimeDisplayOnly);
    var slider_value = $("#timeControl").val();
    v.currentTime = slider_value;
    v.play();
    timeProgressUpdate(v,"timeupdate",audioPlayUpdateTime);  
  }
});

//volume controller
$("#sliderVol").change(function() {
  var slider_value = $("#volControl").val()/100;
  // do something..
  v.volume = slider_value;
});

//set default volume to 20 and max length
v.addEventListener("loadedmetadata", function(){
  this.volume=0.2;
  var default_Volume = this.volume*100
  setSliderValue('#volControl', 'value', default_Volume);
  $("#volControl").slider('refresh');
  //for max length
  var playLenght = Math.round(this.duration);
  setSliderValue('#timeControl','max',playLenght);
  $("#timeControl").slider('refresh');
  //for displyaing the start time
  var audio_startPlayingTime = displayTime(getSliderValue("#timeControl","value"));
  $("#startTimeDisplay").html(audio_startPlayingTime);
  //for displyaing the end time
  var currentPlayingTime = "-" + displayTime(playLenght);
  $("#currentTimeDisplay").html(currentPlayingTime);
});

//audio time progress update
var audioPlayUpdateTime = function() {
    var duration = this.duration;
    var sec = this.currentTime;
    var currentPlayingTime = displayTime(sec);

    //set the timeControl slider input value to audio currentTime
    setSliderValue('#timeControl', 'value', this.currentTime);
    $("#timeControl").slider('refresh');

    //slide and change the display time equal to the time in the input field    
    var remaindingTime = "-" + displayTime(duration-sec);
    $("#currentTimeDisplay").html(remaindingTime);

    //once the audio finished playing, reset the Play button
    if(duration == v.currentTime){
      $('#progressControl').text('Play').button('refresh');
    }
  };

var audioPlayUpdateTimeDisplayOnly = function() {
    var duration = this.duration;
    var sec = this.currentTime;
    var currentPlayingTime = displayTime(sec);

    //slide and change the display time equal to the time in the input field    
    var remaindingTime = "-" + displayTime(duration-sec);
    $("#currentTimeDisplay").html(remaindingTime);

    //once the audio finished playing, reset the Play button
    if(duration == v.currentTime){
      $('#progressControl').text('Play').button('refresh');
    }
  };  

function timeProgressUpdate(audioSource, type, listener){
  audioSource.addEventListener(type,listener , false);
}

function timeProgressStopUpdate(audioSource,type, listener){
  audioSource.removeEventListener(type, listener, false);
}

//jump to selected Chapter
var sectionTimes = ['360','600','1200'];
var currentSection = sectionTimes[0];

$('.audioChapter').tap(function(){
  var $chapterValue = $(this).val();

  if($('#progressControl').html() == "Play"){
    $('#progressControl').text('||').button('refresh');
    timeProgressUpdate(v,"timeupdate",audioPlayUpdateTime);  
    v.play();
    v.currentTime = $chapterValue;
  }
  else{
    v.currentTime = $chapterValue;    
  }  
  console.log($chapterValue);
});
</script>

<style type=text/css>
  input.ui-slider-input {
    display : none !important;
  }

  #mypanel{
    opacity:0.92;
  }
</style>