<div data-role="page" id="CategoryPage">  
  <div data-role="header" data-theme="b">
    <% if params[:category] %>
      <h1><%= params[:category] %></h1>
    <% else %>
      <h1>All</h1>
    <% end %>
    <%if @station%>
        <%= link_to 'Back', categories_station_shows_path(@station) , {"class"=>"ui-btn-left", "data-icon" => "back", "rel"=>'external'} %>  
    <%else%>
        <%= link_to 'Back',  shows_path  , {"class"=>"ui-btn-left", "data-icon" => "back", "rel"=>'external'} %> 
     <%end%>
<!--      <%= link_to 'Create Show', new_station_show_path(@station), {"class"=>"ui-btn-right", "data-icon" => "back", "rel"=>'external'} %>  -->
  </div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-count-theme="b">
      <li data-role="list-divider" data-theme="b">
        <% if params[:category] %>
          <%= params[:category] %>
          <% else %>
            All
          <% end %>
      </li>
      <% @shows.each do |show| %>
        <li>
          <% if show.audioposts.count > 0 %>
            <a href = '<%= show_audioposts_path(show)%>' rel='external'>
              <h2><%= show.name%></h2>
              <p><strong><%= show.djname%></strong></p>
              <span class='ui-li-count'><%= show.audioposts.count %></span>
            </a>
          <% else %>
              <h2><%= show.name%></h2>
              <p><strong><%= show.djname%></strong></p>
              <span class='ui-li-count'><%= show.audioposts.count %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>   
</div>
<script type="text/javascript">
    mixpanel.track("Category Landing Page Loaded", {"Show Category": '<%= params[:category] %>', "Station Name":'<%= @station.name %>'}, function(){console.log('<%= params[:category] %>' + '(<%= @station.name %>)')});
</script>
