<div data-role="header" data-theme="a">
    <h1><%= @show.name %></h1>
    <%= link_to "Back", shows_path, :"data-icon"=>"home", :"class"=>"ui-btn-left"%>
    <%if current_user %>
      <%= link_to "Logout", destroy_user_session_path, :method=>"delete", :"data-icon"=>"gear", :"class"=>"ui-btn-right"%>
    <%else%>
      <%= link_to "Login", new_user_session_path, :"data-icon"=>"gear", :"class"=>"ui-btn-right"%>
    <%end%> 
</div>
<div data-role="content">
	<p id="notice"><%= notice %></p>
	<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
		<h4>Show Details</h4>
		<p>
			<b>Show Name:</b>
			<%= @show.name %>
		</p>
		<p>
			<b>Show Host:</b>
			<%= @show.djname %>
		</p>	
		<p>
			<b>Show Category:</b>
			<%= @show.category %>
		</p>
		<p>
			<b>Show description:</b>
			<%= @show.description %>
		</p>
		<p>
			<b>Show URL</b>
			<%= @show.show_url %>
		</p>
		<%= link_to 'Edit', edit_show_path(@show), :"data-role"=>"button", :"data-inline"=>"true", :rel=>"external", :"data-theme"=>"b", :'data-mini'=>'true', 'data-icon'=>'edit' %>		
	</div>
	<div data-role="collapsible" data-collapsed="false" data-theme="e" data-content-theme="d">
		<h4>List of Episode</h4>
		<p>
			<%= link_to 'New Audio', new_show_audiopost_path(@show) ,{'data-role'=>"button", 'data-mini'=>"true", "data-theme"=>"b", 'data-inline'=>"true", 'data-icon'=>"new"} %>
		</p>
		<table data-role="table" id="table-custom-2" data-mode="Reflow" class="ui-body-d ui-shadow table-stripe ui-responsive tablesorter">
			<thead>
				<tr class="ui-bar-d">
					<th>Episode Name</th>
					<th>Date</th>
					<th>Detail</th>
					<th>Destroy</th>
				</tr>
			</thead>
			<tbody>
				<% @show.audioposts.each do |audiopost|%>
					<tr>
						<td>
							<%= link_to audiopost.title, show_audiopost_path(@show, audiopost)%>
						</td>
						<td>
							<%= audiopost.audio_date%>
						</td>
						<td>
							<%= link_to 'Edit', edit_show_audiopost_path(@show, audiopost), :rel=>"external"%>
						</td>
						<td>
							<%= link_to 'Destroy', show_audiopost_path(@show, audiopost), :confirm => 'Are you sure?', :method => :delete, :rel=>"external" %>
						</td>						
					</tr>				
				<% end %>
			</tbody>
		</table>
	</div>
</div>
