<!DOCTYPE html>
<html>
<head>
  <title>JustCast</title>
  
    <!--<%= stylesheet_link_tag    "application" %> -->
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--<meta name="viewport" content="width=default-width, initial-scale=1" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="NBaKVv-9kC3yoyPffduI2uspAfRDwKJxRTJUD3yOpF0" />
  <% if request.env['PATH_INFO'] == "/abouts/home" || request.env['PATH_INFO'] == "/"%>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style>
      /* Custom styles for this template */
        body{
          min-height: 1400px;
        }
        .navbar-static-top {
          margin-bottom: 19px;
        }        
    </style>
  <% else %>
    <!--1.3.1--> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <!--1.4.0--> 
    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-alpha.1/jquery.mobile-1.4.0-alpha.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.0-alpha.1/jquery.mobile-1.4.0-alpha.1.min.js"></script> -->
  <%end%>
<!-- start Mixpanel Production-->
<script type="text/javascript">
// (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
// typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
// b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
// mixpanel.init("b0fbb23b1ce333b5bf2ade941e2cc4f5");
</script>
<!-- end Mixpanel -->
<!-- start Mixpanel Development-->
<script type="text/javascript">
// (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
// typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
// b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
// mixpanel.init("c3a776eced64ff61aa5ede430a769c3b");
</script>
<!-- end Mixpanel -->
<!--Google Analyst-->
<script>
  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  // ga('create', 'UA-42716041-1', 'heroku.com');
  // ga('send', 'pageview');

</script>
<!--end Google Analyst-->
</head>
<body>
	<%= yield %>
</body>
</html>
